<html>
<head>
    <title>Movie Ratings Homepage</title>
</head>
<body>
    <h1>Movie Ratings for Older Movies</h1>
    <ul>
        <li>
            <a href="movie_list">Movie list</a>
        </li>
        <li>
            <a href="rater_list">Index of Raters</a>
        </li>
        <li>
            <a href="top_movies">Top 20 Movies</a>
        </li>
        <li>
            <a href="movie/1">User login</a>
        </li>
        <li>
            <a href="movie/2">Search Movies by Title</a>
        </li>
    </ul>
</body>
</html>
