{% extends "base.html" %}
{% block title %}Movie Ratings{% endblock %}
{% block pagetopic %}<h1 class="text-center">{{movie.title}}</h1>{% endblock %}
{% block maincontent %}
    <h2>Average Rating: {{movie.avg_rating}}</h2>
{% endblock %}
{% block secondcontent %}
    <ul>
        <h2>Movie id:{{ movie.id }}</h2>
        {% for rating in all_ratings %}
            <h2>Rater:
            <a href="{% url 'rater' rating.rater.id %}">{{rating.rater_id}}</a>
            rating: {{ rating.rating }}
        </h2>
        {% endfor %}
{% endblock %}
