<html>
<head>
    <title>Movie title</title>
</head>
<body>
    <h1>Movie detail</h1>
    <h2>{{movie.title}}</h2>
    <h3>{{movie.url}}</h3>
    <h4>Average Rating: {{movie.avg_rating}} </h4>
    <h4>Main menu:<a href="../movie_list">Movie list</a> </h4>
    <ul>
        <h2>Movie id:{{ movie.id }}</h2>
        {% for rating in all_ratings %}
            <h2>Rater: {{ rating.rater.id }}
            <a href="../rater/{{ rating.rater.id }}/">{{rating.rater_id}}</a>
            rating: {{ rating.rating }}
            </h2>
        {% endfor %}
    </ul>
    <a href="../">Home</a>
</body>
</html>
